/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f8ede3;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.about-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.container{
    min-height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-container{
    min-height: 75vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
/* Hero Section*/
#hero{
    background-size: cover;
    background-position: top center;
    position: relative;
}
#hero .title{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero .img{
    max-width: 300px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero .img .photo{
    border:6px solid #a2b29f; 
    -webkit-border-radius:15px; 
    -moz-border-radius:15px; 
    border-radius:200px;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
}
#hero .mouse-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#hero .cv{
    display: inline-block;
    padding: 10px 30px;
    color: #bdd2b6;
    background-color: transparent;
    border: 2px solid #bdd2b6;
    border-radius: 6px;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color color;
}
#hero .cv:hover{
    color:  white;
    background-color: #bdd2b6;
}
/* End Hero Section*/

/* Experience Section*/
#experience .experience{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#experience .experience-title{
    font-size: 4rem;
    margin-top: 50px;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#experience .experience-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#experience .experience-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#experience .experience-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border:2px solid #a2b29f;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    margin: 10px 5%;
}
#experience .experience-item p{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
/* End Experience Section*/

/* Scholl Section*/
#school .school-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border:2px solid #a2b29f;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    margin: 10px 5%;
}
/* End Scholl Section*/

/* Skills Section */
.skills-area h1{
    text-align: center;
    margin-top: 40px;
    font-size: 4rem;
    margin-bottom: 40px;
}

.skills-area{
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}
.skill{
    position: relative;
    margin-bottom: 40px;
}

.skill-title{
    font-size: 40px;
    margin-bottom: 10px;
}

.skill-bar{
    width: 100%;
    background: rgba(255,255,255,0.6);
    height: 40px;
    border-radius: 100px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
}

.skill-fill{
    background: blue;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
}

.skill-percent{
    font-size: 30px;
    background-color: transparent;
}

.html{
    animation: html 2s;
    width: 50%;
}

.css{
    animation: css 2s;
    width: 70%;
}

.java{
    animation: java 2s;
    width: 80%;
}

@keyframes html {
    from{
        width: 0;
    }
    to {
        width: 50%;
    }
}

@keyframes css {
    from{
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes java {
    from{
        width: 0;
    }
    to {
        width: 80%;
    }
}

@media only screen and (max-width: 750px){
    .skills-area{
        padding: 0 5%;
    }
    #hero .img{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    }
}
/* End Skills Section */



